networks:
  servarrnetwork:
    ipam:
      config:
        - subnet: 172.155.0.0/24

services:
  gluetun-two:
    image: qmcgaw/gluetun
    container_name: gluetun-two
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun # If running proxmox see readme for more info.
    networks:
      servarrnetwork:
        ipv4_address: 172.155.0.2
    ports:
      - 53334:53334
      - 8090:8090 # opforjellyfin

    volumes:
      - /docker/gluetun-two:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - FIREWALL_VPN_INPUT_PORTS=53334
      - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24,172.155.0.0/24
      - WIREGUARD_PRIVATE_KEY=<private-key>
      - WIREGUARD_PRESHARED_KEY=<preshared-key>
      - WIREGUARD_ADDRESSES=<wireguard-addresses>
      - SERVER_COUNTRIES=Canada
      - SERVER_CITIES=Vancouver
      - HEALTH_VPN_DURATION_INITIAL=120s
      # Important: Allow internal container communication
      - HTTPPROXY=on
      - HTTPPROXY_LOG=on
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 60s
      timeout: 20s
      retries: 5
    restart: unless-stopped

  opforjellyfin:
    build: ./opforjellyfin
    container_name: opforjellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - /docker/servarr-two/opforjellyfin:/config
      - /data:/data
    restart: unless-stopped
    command: serve --port 8090
    depends_on:
      - gluetun-two
    network_mode: service:gluetun-two
